<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    
  

<div class="jumbotron text-center">
  <h1>Register Tenant</h1>
   
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3></h3>
        
        <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Name :</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Full Name">

  </div>
  <div class="Label">
    <label for="exampleInputPassword1">Account Type :</label>

  </div>
            
            <form action="">
  <input type="radio" name="Account Type" value="Tenant"> Tenant<br>
  <input type="radio" name="Account Type" value="Landlord"> Landlord<br>
</form>

            
  
    <div class="form-group">
    <label for="exampleInputAddress">Address : </label>
    <input type="Address" class="form-control" id="exampleInputAddress" placeholder="e.g 123 Main Street">
        <small id="emailHelp" class="form-text text-muted">We'll never share your address with anyone.</small>    
        
  </div>
            
              <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">By entering information on this webpage you agree to our terms and conditions and privacy policy.</label>
  </div>
            
            <a href="https://www.torontohousing.ca/privacy-statement"> 
    Privacy Policy 
</a>
    

    
            
  <button type="submit" class="btn btn-primary">Submit</button>
</form>  
      
    

    </div>
  </div>
</div>

</body>
</html>
