h2{
    margin-top: 20px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}

.cta_btns{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    margin: 10px;
}