
<button class="btn btn-secondary mr-1 mt-3" href="#"> Report Incident </button>

<table class="table table-sm ml-3 mt-3 mr-3">
  <thead>
    <tr>
      <th scope="col" width=100px "align-middle">#</th>
      <th scope="col" width=100px align-middle">Date
      <th scope="col" width=100px align-middle">Name</th>
      <th scope="col" width=100px align-middle">Incident</th>
      <th scope="col" width=100px align-middle">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" "align-middle">1</th>
      <td > Today </td>
      <td>Kawhi Leonard</td>
      <td> Broke TV </td>
      <td> Pending
    </tr>
    <tr>
      <th scope="row" "align-middle">2</th>
      <td> Today </td>
      <td> OG Anunoby</td>
      <td> Clogged the toilet </td>
      <td> Pending
    </tr>
  </tbody>
</table>